SUMMARY="Widgets for configuration dialogs"
DESCRIPTION="KConfigWidgets provides easy-to-use classes to create \
configuration dialogs, as well as a set of widgets which uses KConfig \
to store their settings."
HOMEPAGE="https://invent.kde.org/frameworks/kconfigwidgets"
COPYRIGHT="2010-2024 KDE Organisation"
LICENSE="GNU LGPL v2"
REVISION="1"
SOURCE_URI="https://download.kde.org/stable/frameworks/${portVersion%.*}/kconfigwidgets-${portVersion}.tar.xz"
CHECKSUM_SHA256="c9568cbdd9169a496a26293383cc4f7c79e94871f76a9146fb167c3c759b04ca"
SOURCE_DIR="kconfigwidgets-$portVersion"

ARCHITECTURES="all !x86_gcc2"
SECONDARY_ARCHITECTURES="x86"

libVersion="$portVersion"
libVersionCompat="$libVersion compat >= ${libVersion%%.*}"

PROVIDES="
	kconfigwidgets6$secondaryArchSuffix = $portVersion
	lib:libKF6ConfigWidgets$secondaryArchSuffix = $libVersionCompat
	"
REQUIRES="
	haiku$secondaryArchSuffix
	lib:libGL$secondaryArchSuffix
	lib:libKF6Codecs$secondaryArchSuffix
	lib:libKF6ColorScheme$secondaryArchSuffix
	lib:libKF6ConfigCore$secondaryArchSuffix
	lib:libKF6CoreAddons$secondaryArchSuffix
	lib:libKF6GuiAddons$secondaryArchSuffix
	lib:libKF6I18n$secondaryArchSuffix
	lib:libKF6WidgetsAddons$secondaryArchSuffix
	lib:libQt6Core$secondaryArchSuffix
	"

PROVIDES_devel="
	kconfigwidgets6${secondaryArchSuffix}_devel = $portVersion
	devel:libKF6ConfigWidgets$secondaryArchSuffix = $libVersionCompat
	"
REQUIRES_devel="
	kconfigwidgets6$secondaryArchSuffix == $portVersion base
	devel:libKF6ColorScheme$secondaryArchSuffix == $libVersion
	devel:libKF6ConfigCore$secondaryArchSuffix == $libVersion
	devel:libKF6Codecs$secondaryArchSuffix == $libVersion
	devel:libKF6WidgetsAddons$secondaryArchSuffix == $libVersion
	"

BUILD_REQUIRES="
	haiku${secondaryArchSuffix}_devel
	extra_cmake_modules$secondaryArchSuffix
	qt6_tools${secondaryArchSuffix}_devel
	devel:libKF6Codecs$secondaryArchSuffix == $libVersion
	devel:libKF6ColorScheme$secondaryArchSuffix == $libVersion
	devel:libKF6ConfigCore$secondaryArchSuffix == $libVersion
	devel:libKF6CoreAddons$secondaryArchSuffix == $libVersion
	devel:libKF6GuiAddons$secondaryArchSuffix == $libVersion
	devel:libKF6I18n$secondaryArchSuffix == $libVersion
	devel:libKF6WidgetsAddons$secondaryArchSuffix == $libVersion
	devel:libQt6Core$secondaryArchSuffix
	devel:libQt6Qml$secondaryArchSuffix
	"
BUILD_PREREQUIRES="
	cmd:cmake
	cmd:dot
	cmd:doxygen
	cmd:g++$secondaryArchSuffix
	cmd:make
	cmd:msgfmt$secondaryArchSuffix
	cmd:msgmerge$secondaryArchSuffix
	cmd:pkg_config$secondaryArchSuffix
	"

TEST_REQUIRES="
	qthaikuplugins$secondaryArchSuffix
	"

#defineDebugInfoPackage kconfigwidgets6$secondaryArchSuffix \
#	$libDir/libKF6ConfigWidgets.so.$libVersion

BUILD()
{
	cmake -B build -S . -DCMAKE_BUILD_TYPE=Release \
		$cmakeDirArgs \
		-DKDE_INSTALL_PLUGINDIR=$addOnsDir/Qt6 \
		-DKDE_INSTALL_QMLDIR=$dataDir/Qt6/qml \
		-DKDE_INSTALL_QTPLUGINDIR=$addOnsDir/Qt6 \
		-DKDE_INSTALL_QTQCHDIR=$documentationDir/packages/qt6 \
		-DECM_DIR=/system/data/cmake/Modules/ECM/cmake \
		-DCMAKE_SKIP_RPATH=YES \
		-DBUILD_QCH=ON \
		-DBUILD_TESTING=OFF \
		-Wno-dev
	make -C build $jobArgs
}

INSTALL()
{
	make -C build install

	prepareInstalledDevelLib \
		libKF6ConfigWidgets

	packageEntries devel \
		$developDir \
		$documentationDir \
		$libDir/cmake
}

TEST()
{
	# 86% tests passed, 1 tests failed out of 7
	export LIBRARY_PATH="$sourceDir/build/bin${LIBRARY_PATH:+:$LIBRARY_PATH}"
	ctest --test-dir build --output-on-failure
}
