SUMMARY="Widgets for configuration dialogs"
DESCRIPTION="KConfigWidgets provides easy-to-use classes to create \
configuration dialogs, as well as a set of widgets which uses KConfig \
to store their settings."
HOMEPAGE="https://github.com/KDE/kconfigwidgets/"
COPYRIGHT="2010-2017 KDE Organisation"
LICENSE="GNU LGPL v2"
REVISION="1"
SOURCE_URI="https://github.com/KDE/kconfigwidgets/archive/v$portVersion.tar.gz"
CHECKSUM_SHA256="85c3b747bd6effbc511932007f072da9f074bede3c292a1f8d3d936ad1a8b541"

ARCHITECTURES="!x86_gcc2 x86_64"
SECONDARY_ARCHITECTURES="x86"

PROVIDES="
	kconfigwidgets$secondaryArchSuffix = $portVersion
	cmd:preparetips5$secondaryArchSuffix = $portVersion
	lib:libKF5ConfigWidgets$secondaryArchSuffix = $portVersion
	"
REQUIRES="
	haiku$secondaryArchSuffix
	lib:libKF5Auth$secondaryArchSuffix
	lib:libKF5Codecs$secondaryArchSuffix
	lib:libKF5ConfigCore$secondaryArchSuffix
	lib:libKF5ConfigGui$secondaryArchSuffix
	lib:libKF5CoreAddons$secondaryArchSuffix
	lib:libKF5GuiAddons$secondaryArchSuffix
	lib:libKF5I18n$secondaryArchSuffix
	lib:libKF5WidgetsAddons$secondaryArchSuffix
	lib:libQt5Core$secondaryArchSuffix
	"

PROVIDES_devel="
	kconfigwidgets${secondaryArchSuffix}_devel = $portVersion
	devel:libKF5ConfigWidgets$secondaryArchSuffix = $portVersion
	"
REQUIRES_devel="
	kconfigwidgets$secondaryArchSuffix == $portVersion base
	"

BUILD_REQUIRES="
	extra_cmake_modules
	haiku${secondaryArchSuffix}_devel
	devel:libKF5Auth$secondaryArchSuffix
	devel:libKF5Codecs$secondaryArchSuffix
	devel:libKF5ConfigCore$secondaryArchSuffix
	devel:libKF5ConfigGui$secondaryArchSuffix
	devel:libKF5CoreAddons$secondaryArchSuffix
#	devel:libKF5DocTools$secondaryArchSuffix # breaks the build
	devel:libKF5GuiAddons$secondaryArchSuffix
	devel:libKF5I18n$secondaryArchSuffix
	devel:libKF5WidgetsAddons$secondaryArchSuffix
	devel:libQt5Core$secondaryArchSuffix
	devel:libQt5Core$secondaryArchSuffix
	"
BUILD_PREREQUIRES="
	cmd:cmake
	cmd:g++$secondaryArchSuffix
	cmd:make
	cmd:python2
	"

BUILD()
{
	mkdir -p build
	cd build

	cmake .. $cmakeDirArgs \
		-DECM_MKSPECS_INSTALL_DIR=$dataDir/Qt5/mkspecs \
		-DECM_DIR=/system/data/cmake/Modules/ECM/cmake
	make $jobArgs
}

INSTALL()
{
	cd build
	make install
	prepareInstalledDevelLibs \
		libKF5ConfigWidgets

	packageEntries devel \
		$libDir/cmake \
		$dataDir/Qt5/mkspecs \
		$developDir
}

TEST()
{
	cd build
	make test
}
