<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Webserver testpage for lighttpd on Haiku</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<div>This is only a test page for <a href="https://www.lighttpd.net/">lighttpd</a> on <a href="https://www.haiku-os.org/">Haiku</a>.
Haiku is not responsible for the contents of this server or domain.
<table>
<tr><th>Operating system:</th><td>@SYSTEM@</td></tr>
<tr><th>Architecture:</th><td>@GETARCH@</td></tr>
<tr><th>Host:</th><td>@HOSTNAME@</td></tr>
<tr><th>Webserver version:</th><td>@LIGHTTPD_VERSION@</td></tr>
</table>
</div>
</body>
</html>
